.el {
    position: absolute;
    animation-name: go;
    animation-iteration-count: infinite;
    width: 10px;
    height: 10px;
    animation-duration: 1.5s;
    border-radius: 100px;
}

.el:nth-child(1) {
    animation-delay: calc(1 * 0.1s);
    background-color: #aaba78;
    left: 0;
}

.el:nth-child(2) {
    animation-delay: calc(2 * 0.1s);
    background-color: #aaba78;
    left: 15px;
}

.el:nth-child(3) {
    animation-delay: calc(3 * 0.1s);
    background-color: #aaba78;
    left: 30px;
}

.highlighted {
    @apply absolute h-[3.25rem] w-[18.25rem] -translate-y-0.5 -translate-x-0.5 rounded-2xl bg-darker transition duration-300 md:w-[24.75rem];
}

@keyframes go {
    50% {
        transform: translate(0px, -3px) scale(1.1);
        background-color: #c5d2a3;
    }
}
