@tailwind base;
@tailwind components;
@tailwind utilities;

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


html,
body {
	max-width: 100%;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

p, span {
	@apply font-monaSans text-superblue;
}

a {
	@apply font-monaSansSemiBold;
}

h1 {
	@apply text-black;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #AABA78;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.main {
	background: #fff;
 	/*background: rgb(255,255,255);*/
	/*background: linear-gradient(180deg, rgba(255,255,255,1) 41%, rgba(170,186,120,1) 100%);*/
	min-height: 100vh;
	padding: 4rem 0 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.grid {
	display: grid;
	grid-auto-rows: minmax(100px, auto);
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 1600px;
	padding-top: 5rem;
	gap: 2rem;
	@apply grid-cols-2 sm:grid-cols-2 md:grid-cols-3
	lg:grid-cols-5;
	@apply px-4 sm:gap-6 gap-2 mb-24;
}

.footer-bg {
	background: rgb(255,255,255);
	background: linear-gradient(350deg, rgba(255,255,255,1) 34%, rgba(170,186,120,1) 100%);
}

.circle {
	height: 30rem;
	width: 30rem;
	border-radius: 50%;
	position: absolute;
	@apply bg-darker blur-3xl opacity-40 z-0;
}

.social-icons a svg path {
	@apply hover:scale-125;
}

@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}
}
